/* universal set and reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: sans-serif;
  color: rgb(40, 40, 40);
}

a:link,
a:hover {
  text-decoration: none;
}

/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.nav-logo {
  margin: 0 0.5rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-item {
  list-style-type: none;
  margin: 0 1rem;
}

/* welcome */
.welcome {
  background-color: beige;
  height: 200px;
}

.welcome h1 {
  line-height: 200px;
}

/* main content */
.content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.content h2 {
  margin: 2rem 0;
}

.content-box-wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 90vw;
  max-width: 1200px;
  /* justify-content: center;
  align-items: center; */
}

.content-box {
  height: 100px;
  margin: 0.5rem;
  background-color: darkgrey; 
  line-height: 100px;
/* (1200  - 4*0.5rem)/3  */
  flex: 1 1 390px; 
}

button {
  margin: 2rem;
  padding: 0.75rem;
}

footer {
  height: 50px;
}

/* hamburger */
label {
  display: none;
}

#hamburger {
  display: none;
}

 @media (max-width: 1000px){
 .content-box{
     /* (1000 * 90% - 4*0.5rem)/3  */
     flex-basis: 290px;
 }
} 

@media (max-width: 800px) {
  label {
    display: initial;
    margin: 0 1rem;
    font-size: 2rem;
  }

  nav {
    height: auto;
    flex-wrap: wrap;
  }

  .nav-logo {
    height: 60px;
    line-height: 60px;
  }

  .nav-links {
    flex-wrap: wrap;
  }

  .nav-item {
    width: 100vw;
    height: 40px;
  }

  #hamburger:checked ~ ul {
    display: none;
  }

}

@media (max-width: 700px){
    .content-box{
        /* (500 * 90% - 4*0.5rem)/2 */
        flex-basis: 209px;
    }
   } 
