/* universal set and reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: sans-serif;
  color: rgb(40, 40, 40);
}

a:link,
a:hover {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: white;
}
/* navbar */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* when the width over 1440px */
  max-width: 1440px;
  margin: 0 auto;
}

.nav-logo {
  margin: 0 0.5rem;
  height: 60px;
  line-height: 60px;
}

.nav-links {
  position: fixed;
  top: 60px;
  right: 0;

  width: 40vw;
  height: 100vh;
  
  background-color: white;
  opacity: .9;
}

.nav-item {
  list-style-type: none;
  margin: 2rem 1rem;
}

/* welcome */
.welcome {
  margin-top: 60px;
  background-color: beige;
  height: 200px;
}

.welcome h1 {
  line-height: 200px;
}

/* main content */
.content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  flex: 1;
}

.content h2 {
  margin: 2rem 0;
}

.content-box-wrapper {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 1200px;
}

.content-box {
  background-color: darkgrey; 
  margin: 0.5rem;
  line-height: 100px;
  height: 100px;
}

button {
  margin: 2rem;
  padding: 0.75rem;
}

/* for show more content box */
hr { 
  width: 90%;
  margin: 0 auto;
}
/* usability !!! */
.display-none {
  display: none;
}


footer {
  margin-top: 2rem;
  height: 50px;
}

/* hamburger */

label {
  margin: 0 1rem;
  font-size: 2rem;
}

#hamburger {
  display: none;
}


@media (min-width: 500px){
  .content-box-wrapper {
    flex-flow: row wrap;
  }
  .content-box {
    flex: 1 1 200px; 
  }
}

@media (min-width: 700px){
  .content-box {
    flex-basis: 280px; 
  }
}

@media (min-width: 800px){
  label {
    display: none;
  }
  .nav-links {
    /* reset all CSS */
    all: revert;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .nav-item {
    list-style-type: none;
    margin: 0 1rem;
    width: auto;
    height: auto; 
  }
}

@media (min-width: 980px){
  .content-box {
    flex-basis: 400px; 
  }
}
